*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.sidebar{

    width:260px;

    height:100vh;

    background:#1e293b;

    color:white;

    position:fixed;

    left:0;

    top:0;

    display:flex;

    flex-direction:column;

    overflow:hidden;

    transition:.3s ease;

    z-index:2000;

}




/* LOGO */

.logo{

    text-align:center;

    padding:25px 10px;

    border-bottom:1px solid rgba(255,255,255,.1);

}



.logo h2{

    color:#38bdf8;

    font-size:24px;

}



.logo p{

    color:#cbd5e1;

    font-size:14px;

    margin-top:5px;

}





/* MENU */


.menu{

    list-style:none;

    margin-top:20px;

    flex:1;

    overflow-y:auto;

}



.menu::-webkit-scrollbar{

    width:5px;

}


.menu::-webkit-scrollbar-thumb{

    background:#475569;

    border-radius:10px;

}



.menu li{

    margin:6px 0;

}




.menu a{

    color:white;

    text-decoration:none;

    display:flex;

    align-items:center;

    gap:15px;

    padding:14px 25px;

    font-size:16px;

    border-left:4px solid transparent;

    transition:.3s;

}



.menu a:hover{

    background:#334155;

}




.menu a.active{

    background:#0ea5e9;

    border-left:4px solid white;

}






/* LOGOUT */


.logout-btn{

    margin:20px;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#dc2626;

    color:white;

    cursor:pointer;

    font-size:16px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

}



.logout-btn:hover{

    background:#991b1b;

}







/* CLOSE BUTTON */


.mobile-close{

    display:none;

    padding:15px;

    text-align:right;

}



.mobile-close button{

    background:none;

    border:none;

    color:white;

    font-size:22px;

}







/* MOBILE */


@media(max-width:768px){



.sidebar{

    transform:translateX(-100%);

}



.sidebar.mobile-open{

    transform:translateX(0);

}




.mobile-close{

    display:block;

}




.logo h2{

    font-size:21px;

}



.menu a{

    padding:14px 20px;

}



}